.habilidades {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.habilidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0);
}
.habilidade:hover{
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 10%;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.08);
}

.habilidades img {
    border: 1px solid white;
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
    border-radius: 35%;
    background-color: rgba(0, 0, 0, 0.25);
}

.habilidades span {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
}